@media (max-width: 1210px) and (min-width:  360px){
    .container-img-banner{
        bottom: -66px;
    }
    .img-title{
        max-width: 525px;
    }
    .btn-up{
        width: 53px;
        height: 53px;
    }
}
@media (max-width: 922px) and (min-width:  360px){
    .container-img-banner{
        bottom: -66px;
    }
    .container-img-banner img{
        max-width: 787px;
        width: 100%;
    }
    .img-title{
        max-width: 425px;
    }
}
@media (max-width: 992px) and (min-width:  360px){
    .langs-center{
        right: 10%;
    }
    .section-content-taste{
        background-size: cover;
    }
    .taste-product{
        background-size: 100% 100px;
        background-position: 0 100%;
    }
    .top-title-section,
    .title-section-about{
        font-size: 23px;
    }
    .title-section, .title-section span{
        font-size: 40px;
    }
    .title-section::before,
    .title-section::after{
        width: 120px;
        height: 30px;
    }
}
@media (max-width: 992px) and (min-width:  360px){
    .name-taste-info, .composition{
        font-size: 18px;
    }
    .about-taste-list{
        flex-wrap: wrap;

    }
    .container-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-top-footer{
        flex-direction: column;
    }
    .item-taste{
        margin-bottom: 20px;
    }
    .social-list-fixed {
        right: 30px;
        top: 30%;
    }
}
@media (max-width: 768px) and (min-width:  360px){
    .langs-center{
        right: 14%;
    }
    .container-img-banner{
        bottom: -49px;
    }
    .section-content-taste{
        background-size: cover;
    }
    .taste-product{
        background-size: 100% 100px;
        background-position: 0 100%;
    }
    .title-section, .title-section span {
        font-size: 30px;
        white-space: nowrap;
    }
}
@media (max-width: 636px) and (min-width:  360px){
    .top-footer::before {
        width: 180px;
        height: 150px;
        top: -90px;
    }
    .section-content-first::before{
        width: 180px;
        height: 150px;
        bottom: -76px;
    }
    .social-list-fixed {
        right: 20px;
        top: 30%;
    }
    .btn-up{
        right: 20px;
        width: 53px;
        height: 53px;
        opacity: 0.7;
    }

}
@media (max-width: 576px) and (min-width:  360px){
    .langs-center{
        right: 19%;
    }
    .logo-wrapper img{
        max-width: 230px;
    }
    .container-img-banner{
        bottom: -49px;
    }
    .section-content-taste{
        background-size: cover;
    }
    .top-title-section,
    .title-section-about{
        font-size: 18px;
    }
    .title-section, .title-section span{
        padding: 0 104px;
    }
    .title-section::before, .title-section::after {
        width: 100px;
        height: 30px;
    }
}
@media (max-width: 510px) and (min-width:  360px){
    .title-section::before,
    .title-section::after,
    .milk-img-left,
    .milk-img-right {
        display: none;
    }
    .top-title-section,
    .title-section-about{
        font-size: 20px;
    }
    .title-section, .title-section span {
        font-size: 40px;
    }
    .title-section, .title-section span {
        padding: 0;
    }
    .img-title{
        padding-left: 0;
    }
}

@media (max-width: 486px) and (min-width:  360px){
    .langs-center{
        right: 24%;
    }
    .logo-wrapper img{
        max-width: 180px;
    }
    .container-img-banner{
        bottom: -49px;
    }
    .section-content-taste{
        background-size: cover;
    }
    .taste-product{
        background-size: 100% 100px;
        background-position: 0 100%;
    }
    .social-list-fixed {
        right: 10px;
        top: 30%;
    }
    .btn-up{
        right: 10px;
        width: 53px;
        height: 53px;
        opacity: 0.7;
    }
}
@media only screen and (max-width: 435px) and (min-width: 360px) {
    .btn-menu {
        display: block;
        margin-top: 10px;
    }
    .navigation-list{
        flex-direction: column;
        margin-top: 10px;
    }
    .navigation-header{
        flex-direction: column;
    }
    .navigation-list .nav-item {
        padding: 10px 0;
    }
    .logo-wrapper img{
        max-width: 180px;
    }
    .langs-center{
        right: 25%;
    }
    .container-img-banner{
        bottom: -49px;
    }
    .section-content-taste{
        background-size: cover;
    }
    .taste-product{
        background-size: 100% 100px;
        background-position: 0 100%;
    }
    .nav-footer .navigation-list {
        flex-direction: row;
    }
    .header-section {
        margin-top: 50px;
    }
    .section-content-first {
        padding: 50px 0 120px;
    }
    .header-taste {
        margin-top: 40px;
    }
    .map-container{
        height: 400px !important;
    }
}
@media only screen and (max-width: 403px) and (min-width: 360px) {
    .title-section, .title-section span {
        font-size: 30px;
    }
    .top-title-section,
    .title-section-about{
        font-size: 18px;
    }
    .nav-footer .navigation-list {
        flex-direction: column;
    }
}
@media only screen and (max-width: 376px) and (min-width: 360px) {
    .logo-wrapper img{
        max-width: 150px;
    }
    .langs-center{
        right: 27%;
    }
}

@media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    #stage {
        height: 1px;
        overflow: auto;
        min-height: 100vh;
        -webkit-overflow-scrolling: touch;
    }
}