@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circle/Circe-Bold.woff2') format('woff2'),
    url('../fonts/Circle/Circe-Bold.woff') format('woff'),
    url('../fonts/Circle/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circle/Circe-ExtraBold.woff2') format('woff2'),
    url('../fonts/Circle/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circle/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circle/Circe-ExtraLight.woff2') format('woff2'),
    url('../fonts/Circle/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/Circle/Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circle/Circe-Light.woff2') format('woff2'),
    url('../fonts/Circle/Circe-Light.woff') format('woff'),
    url('../fonts/Circle/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circle/Circe-Regular.woff2') format('woff2'),
    url('../fonts/Circle/Circe-Regular.woff') format('woff'),
    url('../fonts/Circle/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circle/Circe-Thin.woff2') format('woff2'),
    url('../fonts/Circle/Circe-Thin.woff') format('woff'),
    url('../fonts/Circle/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Bold.woff2') format('woff2'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Bold.woff') format('woff'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-BoldItalic.woff') format('woff'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Italic.woff2') format('woff2'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Italic.woff') format('woff'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Light.woff2') format('woff2'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Light.woff') format('woff'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Regular.woff2') format('woff2'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Regular.woff') format('woff'),
    url('../fonts/PF-DIN-Text-Comp-Pro/PFDinTextCompPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-size: 16px;
    color: #262626;
    font-family: 'Circe';
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}
* a{
    font-size: 16px;
    text-decoration: none;
    color: #262626;
    cursor: pointer;
}
* a:hover{
    text-decoration: none;
    transition: .3s;
    color: #327143;
}
* a, h1, h2, h3, h4, h5, h6, p, span{
    font-size: 16px;
}
* button, button:focus, a , a:focus{
    outline: none;
}
* h2{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 50px;
    letter-spacing: 0.05em;
    color: #1A1A1A;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}


/*----------------------header---------------*/

.header{
    width: 100%;
    background-image: url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-top{
    position: relative;
}
.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0 20px;
}
.navigation-header{
    border-top: 1px solid rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
}
.navigation-list{
    max-width: 625px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.active-link-nav{
    border-top: 2px solid #ffffff;
}
.navigation-list .nav-item{
    padding: 30px 0;
}
.navigation-list .nav-item .nav-link{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Circe';
    font-weight: normal;
    position: relative;
}
.nav-bar-top{
    padding: 0;
}
.navigation-list .nav-item .nav-link:before{
    content: '';
    left: 5px;
    position: absolute;
    background-size: contain;
}
.nav-home,
.nav-product,
.nav-contact{
    padding-left: 33px;
}
.nav-home:before{
    background-image: url("../images/home.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    top: 6px;
}
.nav-product:before{
    background-image: url("../images/milk.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 17px;
    top: 6px;
}
.nav-contact:before{
    background-image: url("../images/contact.png");
    background-repeat: no-repeat;
    width: 13px;
    height: 18px;
    top: 6px;
}
.btn-menu{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    display: none;
}
.btn-menu i{
    color: #ffffff;
}

/*----------------custom select lenguage----------*/

.langs-center {
    position: absolute;
    display: inline-block;
    top: 34%; right: 8%;
    transform: translate(-50%, -50%);
}
.custom{
    position: absolute;
    z-index: -1;
}
dd span, .selectedValue span {
    position: relative;
    top: 2px;
    display: block;
    height: 12px;
    width: 20px;
    float: left;
    clear: right;
}
dd span.usa, .selectedValue span.usa {
    background: url("../images/en.png") no-repeat;
}
dd span.germany, .selectedValue span.germany {
    background: url("../images/de.png") no-repeat;
}
dd span.france, .selectedValue span.france {
    background: url("../images/fr.png") no-repeat;
}
dd span.rus, .selectedValue span.rus {
    background: url("../images/ru.png") no-repeat;
}
dd span.eston, .selectedValue span.eston {
    background: url("../images/es.png") no-repeat;
}
.custom{
    max-width: 100px;
    background: transparent;
    color: transparent;
    border: transparent;
    outline: none;
}
.customSelect.select-open .selectList{
    max-width: 100px;
    border-radius: 0;
}
.selectListInnerWrap dl{
    max-width: 97px;
    background-color: transparent;
}
.customSelect dd {
    padding: 9px 10px 9px 15px;
    color: #3f6c3e;
}
.customSelect .selectedValue {
    padding: 10px 15px;
    background: transparent;
    box-shadow: none;
    outline: none;
    color: #ffffff;
}
.selectedValue span{
    margin-right: 15px;
}
dd span{
    margin-right: 15px;
}
.select-open .caret{
    transform: rotate(180deg);
}

/*-----------------header banner--------------*/
.wrapper-header-banner{
    background-color: rgba(255,255,255,0.1);
    background-image: url("../images/milk-bottom.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 96%;
    max-height: calc(100vh + 119px);
}
.header-banner{
    padding-top: 47px;
}
.header-title{
    display: flex;
    justify-content: center;
}
.img-title{
    max-width: 625px;
    width: 100%;
    background-image: url("../images/name.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 46px;
    position: relative;
    padding-left: 168px;
}
.milk-img-left,
.milk-img-right{
    background: url("../images/milk-img-left.png");
    width: 141px;
    height: 40px;
    margin-right: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}
.milk-img-right{
    margin-left: 25px;
    margin-right: 0;
}
.info-banner{
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Circe';
    margin-top: 30px;
}
.container-img-banner{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    bottom: -69px;
}

.container-img-banner img{
    max-width: 987px;
    width: 100%;
    height: 100%;
}

/*----------------content section---------*/

.header-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.top-title-section{
    font-size: 28px;
    color: #8fbd2c;
    font-family: 'PF Din Text Comp Pro Light';
    text-transform: uppercase;
}
.title-section,
.title-section span,
.title-section-about{
    font-size: 50px;
    color: #3f6c3e;
    font-family: 'PF Din Text Comp Pro';
    font-weight: bold;
    position: relative;
    padding: 0 164px;
}

.title-section-about{
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 30px;
    text-align: center;
}
.title-section:before{
    content: '';
    position: absolute;
    background-image: url("../images/milk-img-left.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 40px;
    background-size: contain;
    left: 0;
}
.title-section:after{
    content: '';
    position: absolute;
    background-image: url("../images/milk-img-right.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 40px;
    background-size: contain;
    right: 0;
}
.section-content-first{
    padding: 50px 0 190px;
    background-image: url("../images/bg-section-about.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
    z-index: 5;
}
.section-content-first:before{
    content: '';
    position: absolute;
    background-image: url("../images/cashe-img.png");
    background-repeat: no-repeat;
    width: 238px;
    height: 147px;
    background-size: contain;
    bottom: -56px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.content-section p,
.container-info-product p{
    font-size: 16px;
    color: #464646;
    line-height: 30px;
    text-align: center;
    font-family: 'Circe';
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
}
.container-info-product p{
    text-align: left;
}
.section-content-taste{
    padding-top: 60px;
    background: url("../images/bg-taste.jpg") no-repeat;
    position: relative;
    background-size: cover;
    padding-bottom: 35px;
}
.section-content-taste:before{
    content: '';
    position: absolute;
    background-image: url("../images/cashe-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 237px;
    left: 0;
    right: 0;
    bottom: 0;
}
.header-taste{
    margin-top: 60px;
}
.item-taste{
    background-color: #eef1e3;
    border: 1px solid #e8ecde;
    padding: 22px 20px;
    max-width: 141px;
    width: 100%;
    margin-right: 20px;
}
.item-taste:last-child{
    margin-right: 0;
}
.name-taste-info,
.composition{
    font-size: 23px;
    color: #3f6c3e;
    font-family: 'PF Din Text Comp Pro Light';
    text-transform: uppercase;
}
.composition{
    font-weight: bold;
    font-family: 'PF Din Text Comp Pro';
    line-height: 30px;
}
.about-taste-list{
    display: flex;
    align-items: center;
}
.container-about-taste{
    margin-top: 30px;
    margin-bottom: 50px;
}
.section-map{
    padding-bottom: 150px;
}
.map-container{
    margin-top: 20px;
}
.map-container-block{
    position: relative;
}
.overflow{
    position: relative;
    overflow: hidden;
    padding-right: 16px;
}
.overflow:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000000;
    transition: 0.5s;
}
.open-modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10000000;
    padding-top: 80px;
}
.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    background-color: transparent;
    background-image: url("../images/btn-close.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.pop-up-content{
    background: #ffffff;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 45px;
}
.pop-up-content:before{
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    background-image: url("../images/document.png");
    width: 43px;
    height: 86px;
    background-repeat: no-repeat;
}
.pop-up-content:after{
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    background-image: url("../images/document-left.png");
    width: 43px;
    height: 86px;
    background-repeat: no-repeat;
}
.open-pop{
    display: block;
}
.title-pop-up{
    font-size: 30px;
    font-family: 'PF Din Text Comp Pro';
    font-weight: bold;
    color: #3f6c3e;
    margin-bottom: 14px;
}
.pop-up-content p{
    font-size: 16px;
    font-family: 'Circe';
    color: #464646;
    margin-bottom: 30px;
}
.mail-contact{
    font-family: 'Circe';
    font-weight: bold;
    color: #464646;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-left: 34px;
}
.mail-contact:before{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background: url("../images/envelop.png") no-repeat;
    background-size: contain;
    width: 15px;
    height: 11px;
}
.header-map{
    margin-top: 60px;
}

/*---------------------footer--------------*/

.footer{
    width: 100%;
}
.top-footer{
    width: 100%;
    background-color: #f2f7ea;
    position: relative;
}
.top-footer:before{
    content: '';
    position: absolute;
    width: 226px;
    height: 173px;
    background: url("../images/img-footer.png") no-repeat;
    background-size: contain;
    top: -116px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.nav-footer .navigation-list .nav-item .nav-link{
    color: #464646;
}
.nav-footer .navigation-list .nav-item .nav-home:before{
    background-image: url("../images/home-footer.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    top: 6px;
}
.nav-footer .navigation-list .nav-item.active-link-nav .nav-home:before{
    background-image: url("../images/home-active.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    top: 6px;
}
.nav-footer .navigation-list .nav-item .nav-product:before{
    background-image: url("../images/milk-footer.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 17px;
    top: 6px;
}
.nav-footer .navigation-list .nav-item.active-link-nav .nav-product:before{
    background-image: url("../images/milk-active.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 17px;
    top: 6px;
}
.nav-footer .navigation-list .nav-item .nav-contact:before{
    background-image: url("../images/contact-footer.png");
    background-repeat: no-repeat;
    width: 13px;
    height: 18px;
    top: 6px;
}
.nav-footer .navigation-list .nav-item.active-link-nav .nav-contact:before{
    background-image: url("../images/contact-active.png");
    background-repeat: no-repeat;
    width: 13px;
    height: 18px;
    top: 6px;
}
.nav-footer .navigation-list .nav-item.active-link-nav{
    border-top: none;
    border-bottom: 2px solid #91be2c;
}
.nav-footer .navigation-list .nav-item.active-link-nav .nav-link{
    color: #91be2c;
}
.nav-footer .navigation-list .nav-item{
    padding: 20px 0;
}
.nav-footer .navigation-list{
    max-width: 520px;
}
.container-logo{
    max-width: 234px;
    width: 100%;
}
.container-logo span{
    font-size: 16px;
    color: #464646;
    font-family: 'PF Din Text Comp Pro';
}
.logo-wrapper-footer{
    margin-bottom: 14px;
    margin-right: 20px;
}
.logo-wrapper-footer img{
    max-width: 234px;
}
.container-top-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
}
.bottom-footer{
    position: relative;
    width: 100%;
    background: rgba(20,105,60,1);
    background: -moz-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(20,105,60,1)), color-stop(100%, rgba(148,193,43,1)));
    background: -webkit-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: -o-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: -ms-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: linear-gradient(to right, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14693c', endColorstr='#94c12b', GradientType=1 );
}
.email-span{
    font-family: 'Circe';
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    position: relative;
    padding-left: 32px;
}
.email-span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    background: url("../images/envelop-footer.png") no-repeat;
    background-size: contain;
    width: 15px;
    height: 11px;
}
.item-social{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    margin-right: 16px;
}
.item-social:hover{
    opacity: 0.8;
}
.item-social:last-child{
    margin-right: 53px;
}
.link-social{
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-social i{
    color: #8dbb2c;
}
.nav-social-footer{
    display: flex;
    align-items: center;
}
.container-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.social-list-fixed{
    position: fixed;
    right: 30px;
    top: 40%;
    z-index: 100;
}
.social-list-fixed .nav-social-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-list-fixed .nav-social-footer .item-social{
    margin-right: 0;
    margin-bottom: 27px;
    -webkit-box-shadow: 0px 0px 15px rgba(43,120,57,0.75);
    -moz-box-shadow: 0px 0px 15px rgba(43,120,57,0.75);
    box-shadow: 0px 0px 15px rgba(43,120,57,0.75);

}
.social-list-fixed .nav-social-footer .item-social:last-child{
    margin-right: 0;
    margin-bottom: 0;
}
.social-list-fixed .nav-social-footer .item-social .link-social i{
    color: #558b42;
}
.btn-up{
    background: rgba(20,105,60,1);
    background: -moz-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(20,105,60,1)), color-stop(100%, rgba(148,193,43,1)));
    background: -webkit-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: -o-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: -ms-linear-gradient(left, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    background: linear-gradient(to right, rgba(20,105,60,1) 0%, rgba(148,193,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14693c', endColorstr='#94c12b', GradientType=1 );
    width: 63px;
    height: 63px;
    background-size: contain;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 101;
}
.arrow-up{
    background: url("../images/up-btn.png") no-repeat;
    width: 13px;
    height: 17px;
    background-size: contain;
    display: block;
}
#backtotop{
    opacity: .2;
    visibility: hidden;
}
#backtotop.visible {
    visibility: visible;
    opacity: 0.7;
}
.about-product{
    padding-top: 0;
    padding-bottom: 50px;
}
.about-product:before{
    display: none;
}
.about-cashew{
    color: #9e9e9e !important;
    font-size: 18px !important;
}
.content-about-product span{
    color: #3f6c3e;
    text-transform: uppercase;
    font-weight: bold;
}
.taste-product{
    background-size: 100% 100px;
    background-position: 0 100%;
    padding-top: 0;
}
.footer-product:before{
    display: none;
}
.list-about-product{
    display: flex;
    flex-direction: column;
}
.item-product{
    display: flex;
    align-items: center;
    padding: 0  68px 36px;
    justify-content: space-between;
    position: relative;
}
.item-product:before{
    content: '';
    position: absolute;
    background-size: contain;
    width: 23px;
    height: 53px;
    background-repeat: no-repeat;
}
.item-product:first-child{
    padding-top: 0;
}
.item-product:nth-child(2n){
    flex-direction: row-reverse;
}
.item-product:nth-child(2n):before{
    background-image: url("../images/arrow-down-right.png");
    right: 0;
    top: -53px;
}
.item-product:nth-child(2n+1):before{
    background-image: url("../images/arrow-down-left.png");
    left: 0;
    top: -53px;
}
.item-product:nth-child(2n) .container-item-img{
    margin-right: 0;
    margin-left: 30px;
}
.item-product:first-child:before{
    background-image: none;
}
.item-product:last-child{
    align-items: center;
    justify-content: center;
}
.container-info-product:last-child p{
    text-align: center;
}
.container-item-img{
    max-width: 208px;
    width: 100%;
    margin-right: 30px;
}
.container-item-img img{
    max-width: 208px;
    width: 100%;
}